body {
    background-color:rgba(219, 192, 177, 0.2);
    color: #4c505f;
    /* background-image: url('/img/header1.jpeg'); */
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.row-header {
    margin: 0px auto;
    padding: 0px auto;
}

.row-content {
    margin: 0px auto;
    padding: 50px 0px 50px 0px;
    
    min-height: 400px;
}

.transbox1 {
    background-color:rgba(219, 192, 177, 0.2);
    border-color: #DBC0B1;
    border-width: 10px;
}

.footer {
    background-color: #DBC0B1; 
    color: white;
    margin: 0px auto;
    padding: 20px 0px 20px 0px;
}

.jumbotron {
    padding: 70px 30px 70px 30px;
    margin-top: 50px;
    margin: 0px auto;
    background-color:rgba(219, 192, 177, 0.6);
    color: #4c505f;
    
}

.address {
    font-size: 80%;
    margin: 0px;
    color: #0f0f0f;
}

.body {
    margin: 50px 0px 0px 0px;
    z-index: 0;
}

.navbar-dark {
    background-color: #DBC0B1;
}

.nav-item {
    padding-left: 0.5em;
    padding-right: 0.5em;
}

.img-thumbnail {
    height: 250px;
    width: 250px;
}

img {
    object-fit: cover;
    align-self: center;
}

.dropdown-menu {
    background-color: #DBC0B1;
}

.dropdown-item {
    color: white;
}

.contact-us {
    background-color:rgba(219, 192, 177, 0.6);
}

/* image hover overlay effects */

.container-hover {
    position: relative;
    width: 250px;
    height: 250px; 
    align-self: center;
}
  
.image-hover {
    opacity: 1;
    display: block;
    
    transition: .5s ease;
    backface-visibility: hidden;
}
  
.middle-hover {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}
  
.container-hover:hover .image-hover {
    opacity: 0.3;
}
  
.container-hover:hover .middle-hover {
    opacity: 1;
}
  
.text-hover {
    
    color: white;
    font-size: 16px;
    padding: 16px 32px;
}

.fa1 {
    margin: 0.3em;
    color: black;
    font-size: 3em;
}

.fa2 {
    margin: 0.3em;
    color:white;
    font-size: 3em;
}